

.contenido {

width: 400px;
background: #085cbd;  /*fondo*/
padding-top: 10px;  /* relleno en la parte superior*/
padding-right: 20px;  /* relleno del lado derecho*/
padding-bottom: 15px; /* rellmeno en la parte inferior*/
padding-left: 25px; /* relleno a la izquierda*/
margin: auto;
margin-top: 100px;
border-radius: 12px;  /*para los bordes*/
font-family: 'calibri';
}
.input-group {
    padding: 50px 55px;
    display: flex;
    flex-direction: column;
    text-align: left;  /* aliena texto*/
    margin-bottom: 20px; /* margen de cada parte donde lllena texto*/
}
input, textarea{
    padding: 10px 25px ; /*relleno interior*/
    border-radius: 25px;
    margin-bottom: 20px;
    background-color:  white;
    border: 2px solid rgb(225, 29, 29);
    outline: none; /* no se coloque ese borde feo*/
}



.btn {
    font-size: 16px;
    color: rgb(243, 239, 233);
    border: 0;
    border-radius: 25px;
    background-color: rgb(6, 6, 209);
    box-shadow: 0 0 20px rgb(225, 29, 29); /*sombreado chevere*/
    cursor: pointer;
}